body{
    margin: 0px;
    font-family: 'Luxurious Roman', cursive;
    color: black;
    background-image: url('../img/background.jpeg');
    background-size: 15%;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    border-bottom: 4px solid black;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    font-family: 'Cinzel', serif;
}
@font-face {
    font-family: '';
    src: url();
}
#logo img{
    width: 10rem;
    padding-top: 0.5rem;
}
#enlaces a{
    text-decoration: none;
    color: black;
    padding-right: 4rem;
    font-size: 1.1em;

}
button{
    width: 100%;
    display: inline-block;
}
#formulario{
}
.inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2em;
    margin-bottom: 0.2rem;
}
#formulario label{
    padding-right: 0.5rem;
}
h1{
    text-align: center;
    padding-top: 8rem;
}
.parrafos{
    margin: 0rem 2rem;
    background-color: #0a0a0add;    
}
p{
    color: white;
}
h2{
    margin-top: 10rem;
    background-color: rgb(7, 7, 7);
    color: white;
    display: inline-block;
    display: flex;
    justify-content: center;
    border-radius: 70%;
}
#fotos img{
    width: 18rem;
    min-height: 300px;
    
}
#fotos{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#fotos div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;  
    
}
h3{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0.2em;
}
#tabla{
    margin-top: 10rem;
    background-color: rgb(7, 7, 7);
    color: white;
    display: inline-block;
    display: flex;
    justify-content: center;
    border-radius: 70%;
    
}
#prueba-tabla{
    
    
}
table{
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
    margin: 3rem;
    font-weight: bolder;
    display: block;
    overflow-x: auto;
    
    

}
table img{
    width: 100%;
    min-width: 250px;
    vertical-align: middle;
}
th{
    padding: 1rem;
}
th, td{
    border: 2px solid black;
    width: 30%;
}
.fotos-tabla{
    padding: 0;
    object-fit: cover;
}
thead{
    color: whitesmoke;
    
}
tr:nth-child(even){
    background-color: rgb(228, 226, 226);
}
tr:nth-child(odd){
    background-color: rgb(110, 180, 185);
}
thead>tr{
    background-color: black !important;
}
th{
    border: 2px solid whitesmoke;
}