body{
    margin: 0px;
    font-family: 'Antic Slab', serif;
    color: black;
    background-image: url('../img/background.jpeg');
    background-size: 20%;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    border-bottom: 4px solid black;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    font-family: 'Cinzel', serif;
}
@font-face {
    font-family: 'Beatles';
    src: url(../fonts/BOOTLE.TTF);
}
#logo img{
    width: 10rem;
    padding-top: 0.5rem;
}
#enlaces a{
    text-decoration: none;
    color: black;
    padding-right: 4rem;
    font-size: 1.1em;

}
button{
    width: 100%;
    display: inline-block;
}
#formulario{
}
.inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2em;
    margin-bottom: 0.2rem;
}
#formulario label{
    padding-right: 0.5rem;
}
#titulo{
    border-radius: 100%;
    border: 5px solid black;
    background-image: url(../img/pattern.jpg);
    background-size: 30%;
}
h1{
    text-align: center;
    padding-top: 4rem;
    font-family: 'Beatles'; 
}
.parrafos{
    margin: 0rem 2rem;
    background-color: #D7D0CEBB;    
}
#hs{
    margin-top: 10rem;
    background-color: rgb(7, 7, 7);
    color: white;
    display: inline-block;
    display: flex;
    justify-content: center;
    border-radius: 70%;
}
#fotos img{
    width: 30rem;
    min-height: 520px;
    
}
#fotos{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#fotos div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;  
    
}
h3{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0.2em;
}
table{
    border-collapse: collapse;
    text-align: center;
    border: 2px solid black;
    margin: 3rem;

}
table img{
    width: 14rem;
    min-width: 270px;
}
th{
    padding: 1rem;
}
th, td{
    border: 2px solid black;
    width: 30%;
}
thead{
    color: whitesmoke;
    
}
tr:nth-child(even){
    background-color: rgb(228, 226, 226);
}
tr:nth-child(odd){
    background-color: rgb(207, 86, 86);
}
thead>tr{
    background-color: black !important;
}
th{
    border: 2px solid whitesmoke;
}