body{
    margin: 0px;
    font-family: 'Luxurious Roman', cursive;
    color: black;
    background-image: url('../img/background.jpeg');
    background-size: 15%;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    border-bottom: 4px solid black;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    font-family: 'Cinzel', serif;
}
nav a:hover{
    text-decoration: underline;
}
#logo img{
    width: 10rem;
    padding-top: 0.5rem;
}
#enlaces a{
    text-decoration: none;
    color: black;
    padding-right: 4rem;
    font-size: 1.1em;

}
button{
    width: 100%;
    display: inline-block;
}
.inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2em;
    margin-bottom: 0.2rem;
}
#formulario label{
    padding-right: 0.5rem;
}
h1{
    text-align: center;
    padding-top: 5rem;
    background-color: rgb(7, 7, 7);
    color: white;
    display: inline-block;
    display: flex;
    justify-content: center;
   
}
section{
    width: 80%;
    margin: auto;
    background-color: #0a0a0abb;
    color: white;
    padding: 0.5rem;
    margin-bottom: 5rem;
}
figure{
    display: flex;
    flex-flow: column;
    width: 17rem;;
    float: right;
    border: 1px solid whitesmoke;
    padding: 0.5rem;
    background-color: black;
}
figcaption{
    text-align: center;
    font-style: italic;
}
span,q{
    font-style: italic;
}
#titulos{
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 70%;
}
details{
    width: 80%;
    background-color: #0a0a0abb;
    margin: auto;
    color: white;
    padding: 0.5rem;
    margin-top: 2rem;
}
