body{
    margin: 0px;
    font-family: 'Alice', serif;
    color: black;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    border-bottom: 4px solid black;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
#logo img{
    width: 10rem;
    padding-top: 0.5rem;
}
#enlaces a{
    text-decoration: none;
    color: black;
    padding-right: 4rem;
    font-size: 1.3rem;
    word-spacing: 0.5rem;

}
button{
    width: 100%;
    display: inline-block;
}
#formulario{
}
.inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 0.2em;
}
#formulario label{
    padding-right: 0.5rem;
}
h2{
    margin-top: 10rem;
    text-align: center;
}
#fotos img{
    width: 22rem;
    min-height: 370px;
    
}
#fotos{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#fotos div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;  
    
}
h3{
    background-color: black;
    color: white;
    margin: 0px;
}